<% if user_signed_in? %>
  <h1><%= current_user.roles.first.capitalize %> Dashboard</h1>
<% end %>

<h1>Listing tickets</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.title %></td>
        <td><%= ticket.body %></td>
        <td><%= ticket.user.full_name %></td>
        <td><%= link_to 'Show', user_ticket_path(ticket.user, ticket) %></td>
        <td><%= link_to 'Edit', edit_user_ticket_path(ticket.user, ticket) %></td>
        <td><%= link_to 'Destroy', user_ticket_path(ticket.user, ticket), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_user_ticket_path(current_user) %>
