<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @ticket.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user.full_name %>
</p>

<%= link_to 'Edit', edit_user_ticket_path(@ticket.user, @ticket) %> |
<%= link_to 'Back', user_tickets_path %>
