<%= link_to "IT Support App", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li><%= link_to 'Dashboard', dashboard_path, :method=>'get' %></li>
    <% if current_user.has_any_role?([:admin, :moderator]) %>
      <li><%= link_to 'All Tickets', tickets_path, :method=>'get' %></li>
      <li><%= link_to 'Users', users_path %></li>
    <% end %>
    <li><%= link_to 'My Tickets', user_tickets_path(current_user), :method=>'get' %></li>
    <li><%= link_to 'Edit account', edit_user_registration_path %></li>
    <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
  <% else %>
    <li><%= link_to 'Login', new_user_session_path %></li>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
  <% end %>
</ul>
